{% extends 'base.html' %}
{% load staticfiles %}

{% block breadcrumb %}
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>更新用户</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="">主页</a>
                </li>
                <li>
                    <a>用户管理</a>
                </li>
                <li>
                    <strong>更新用户</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2">

        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>更新用户</h5>
                </div>
                {% for i in user %}
                    <div class="ibox-content">
                        <form class="form-horizontal m-t" id="signupForm"
                              method="post">{% csrf_token %}
                            <div class="form-group">
                                <label class="col-sm-3 control-label">用户名：</label>
                                <div class="col-sm-3">
                                    <input id="username" disabled="disabled"
                                           placeholder="{{ i.username }}"
                                           name="username"
                                           value="{{ i.username }}"
                                           class="form-control" type="text">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">姓名：</label>
                                <div class="col-sm-3">
                                    <input id="name" disabled="disabled"
                                           placeholder="{{ i.name }}"
                                           name="name" value="{{ i.name }}"
                                           class="form-control" type="text"
                                           aria-required="true"
                                           aria-invalid="false" class="valid">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">联系号码：</label>
                                <div class="col-sm-3">
                                    {% if i.phone == None %}
                                        <input id="phone" name="phone" value=""
                                               class="form-control" type="text"
                                               aria-required="true"
                                               aria-invalid="true"
                                               class="error">
                                    {% else %}
                                        <input id="vip" name="vip"
                                               value="{{ i.phone }}"
                                               class="form-control" type="text"
                                               aria-required="true"
                                               aria-invalid="true"
                                               class="error">
                                    {% endif %}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">小组：</label>
                                <div class="col-sm-3">
                                    <select class="form-control m-b"
                                            name="statu">
                                        {% for group in groups %}
                                            <option value="{{ group.id }}">{{ group.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">部门：</label>
                                <div class="col-sm-3">
                                    <select class="form-control m-b" name="env">
                                        {% for department in departments %}
                                            <option value="{{ department.id }}">{{ department.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            {% if request.user.is_superuser or perms.prime.change_permission %}
                            <div class="form-group">
                                <label class="col-sm-3 control-label">权限：</label>
                                <div class="col-sm-3">
                                    <select class="form-control m-b-xl" name="permission" multiple="multiple">
{#                                       {% for perm in  i.get_all_permissions %}#}
{#                                          <option>{{ i.get_all_permissions }}</option>#}
{#                                       {% endfor %}#}

                                    {% for permission in permissions %}
                                        <option>{{ perms.permission.codename }}</option>
{#                                        {% if perms. %}#}
{#                                        <option selected="selected">{{ permission.codename }}</option>#}
{#                                        {% else %}#}
{#                                        <option value="{{ permission.id }}">{{ permission.codename }}</option>#}
{#                                        {% endif %}#}
                                    {% endfor %}
                                    </select>
                                </div>
                            </div>
                            {% endif %}
                            <div class="form-group">
                                <div class="col-sm-8 col-sm-offset-3">
                                    <button class="btn btn-primary"
                                            onclick="location.href='{% url 'prime:userlist' %}'"
                                            type="button">取消
                                    </button>
                                    <button class="btn btn-primary"
                                            type="submit">确认
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

