<div class="row border-bottom">
    <nav class="navbar navbar-static-top" role="navigation"
         style="margin-bottom: 0">
        <div class="navbar-header">

            <form role="search" class="navbar-form-custom" method="post" action="#">
                <div class="form-group">

                </div>
            </form>
        </div>
        <ul class="nav navbar-top-links navbar-right">
            <li>
                <span class="m-r-sm text-muted welcome-message">
                    <a href="{% url 'Index' %}" title="返回首页">
                        <i class="fa fa-home"></i>
                    </a>欢迎<strong>{{ request.user.last_name }}</strong>使用SRE平台</span>
            </li>
            <li class="dropdown">

                <ul class="dropdown-menu dropdown-messages">
                    <li>

                    </li>
                    <li class="divider"></li>
                    <li>

                    </li>
                    <li class="divider"></li>
                    <li>

                    </li>
                </ul>
            </li>
            <li class="dropdown">

            </li>
            <li>
                <a href="{% url 'prime:login' %}">
                    <i class="fa fa-sign-out"></i> 退出
                </a>
            </li>
        </ul>

    </nav>
</div>