{% extends 'base.html' %}
{% load staticfiles %}
{% block head_css_js %}
    <link href="{% static 'css/dataTables.bootstrap.css' %}">
{% endblock %}
{% block breadcrumb %}
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>业务线信息</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="{% url 'Index' %}">主页</a>
                </li>
                <li>
                    <a>业务线管理</a>
                </li>
                <li>
                    <strong>业务线信息</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2">

        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5></h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown"
                           href="">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>主业务线</th>
                            <th>主业务线ID</th>
                            <th>负责人</th>
                            <th>子业务线</th>
                            <th>子业务线ID</th>
                            <th>负责人</th>
                            <th>负责SRE</th>

                        </tr>
                        </thead>
                        <tbody>
                            {% for b in busi %}
{#                                {% if b.name == "云平台" %}#}
{#                                    <tr align="center">#}
{#                                        <td rowspan=''>{{b.name}} </td>#}
{#                                        <td rowspan=''>{{ b.id }}</td>#}
{#                                        <td rowspan=''>{{ b.person_duty }}</td>#}
{#                                        <td></td>#}
{#                                        <td></td>#}
{#                                        <td></td>#}
{#                                    </tr>#}
{#                                {% endif %}#}
                                {% for i in qs1 %}
                                <tr align="center">

                                    {% if b.id == i.business %}
                                    <td rowspan='{{ i.count|add:1 }}'>{{b.name}} </td>
                                    <td rowspan='{{ i.count|add:1 }}'>{{ b.id }}</td>
                                    <td rowspan='{{ i.count|add:1 }}'>{{ b.person_duty }}</td>
                                        {% for m in qs2 %}
                                            {% if b.id == m.business %}
                                            <tr align="center">
                                                <td>{{ m.name }}</td>
                                                <td>{{ m.id }}</td>
                                                <td>{{ m.person }}</td>
                                                {% if m.sre == "None" %}
                                                    <td></td>
                                                {% else %}
                                                    <td>{{ m.sre }}</td>
                                                {% endif %}
                                            </tr>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                {% endfor %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block foot_css_js %}

    <script src="{% static 'js/jquery.dataTables.js' %}"></script>
    <script src="{% static 'js/dataTables.bootstrap.js' %}"></script>

    <script>
        $(document).ready(function () {
            $('.dataTables-example').dataTable();

            /* Init DataTables */
            var oTable = $('#editable').dataTable();

            /* Apply the jEditable handlers to the table */
            oTable.$('td').editable('../example_ajax.php', {
                "callback": function (sValue, y) {
                    var aPos = oTable.fnGetPosition(this);
                    oTable.fnUpdate(sValue, aPos[0], aPos[1]);
                },
                "submitdata": function (value, settings) {
                    return {
                        "row_id": this.parentNode.getAttribute('id'),
                        "column": oTable.fnGetPosition(this)[2]
                    };
                },

                "width": "90%",
                "height": "100%"
            });


        });
    </script>
{% endblock %}