{% extends 'base.html' %}
{% load staticfiles %}

{% block breadcrumb %}
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>数据库添加</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="">主页</a>
                </li>
                <li>
                    <a>数据库管理</a>
                </li>
                <li>
                    <strong>数据库添加</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2">

        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>添加数据库</h5>
                </div>
                <div class="ibox-content">
                    <form class="form-horizontal m-t" id="signupForm" method="POST">{% csrf_token %}
                        {% for field in form %}
                            <div class="form-group">
                                <label class="col-sm-3 control-label">{{ field.label }}：</label>
                                <div class="col-sm-3">
                                    {{ field }}
                                </div>
                            </div>

                        {% endfor %}
                        <div class="form-group">
                            <div class="col-sm-8 col-sm-offset-3">
                                <button class="btn btn-primary" onclick="location.href='{% url 'bumblebee:dblist' %}'" type="button">取消
                                </button>
                                <button class="btn btn-primary" type="submit">确认
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block foot_css_js %}
    <script>
        var ret = {{ res|safe }};
        if (ret.code = 1){
            alert(ret.errmsg);
        };

    </script>
{% endblock %}

