*~

*.bak
*.log
*.pid
*.py[cod]
*.seed
*.sw[po]

__pycache__
.*~
.coverage*
.DS_Store
.grunt
.idea
.lock-wscript

coverage.xml
pylint.out
pylintrc
.pylintrc

bower_components
coverage
coverage-reports
lib-cov
logs
node_modules
permdir
permdir_test
pids
reports
test-reports
tmpdir
venv

build/Release

##  generated templates files
##  note: usage "cp *.sample *

dev.cfg
dev.yaml
local_config.py
test.yaml

Makefile.local

.cache
.ropeproject/
.vscode/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

*.suo
*.ntvs*
*.njsproj
*.sln
.med/
.kube
config.json
*.ini
